
services:
  postgres:
    image: postgres:15-alpine
    container_name: sora_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sora
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: sora_redis
    restart: always
    ports:
      - "6379:6379"


volumes:
  postgres_data: